<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Jogador</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/daisyui@1.19.0/dist/full.js"></script>
</head>
<body class="bg-gray-100 text-gray-900">

    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-bold mb-6 text-center">Detalhes do Jogador</h1>

        <div class="bg-white p-6 rounded-lg shadow-lg">
            <p class="text-lg mb-2"><strong>ID:</strong> {{ jogador.id }}</p> <!-- Agora acessando o ID -->
            <p class="text-lg mb-2"><strong>Nome:</strong> {{ jogador.nome }}</p>
            <div class="mb-4">
                <strong>Imagem do Jogador:</strong>
                <img src="{{ jogador.jogador_imagem }}" alt="Imagem do Clube" class="w-48 h-48 object-cover rounded-lg mb-4" />
            </div>
            <p class="text-lg mb-2"><strong>Posição:</strong> {{ jogador.posicao }}</p>
            <p class="text-lg mb-2"><strong>Preço:</strong> {{ jogador.preco }}</p>
            <p class="text-lg mb-2"><strong>Clube:</strong> {{ jogador.id_clube }}</p>
            <p class="text-lg mb-6"><strong>Estado:</strong> {{ jogador.id_estado }}</p>

            <!-- Exibindo a imagem do clube -->
            <div class="mb-4">
                <strong>Imagem do Clube:</strong>
                <img src="{{ jogador.clube_imagem }}" alt="Imagem do Clube" class="w-48 h-48 object-cover rounded-lg mb-4" />
            </div>

            <a href="{{ url_for('players_list') }}" class="btn btn-outline btn-primary">← Voltar à lista</a>
        </div>
    </div>

</body>
</html>
