<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Jogador</title>
</head>
<body>

    <h1>Detalhes do Jogador</h1>

    <p><strong>ID:</strong> {{ jogador_id }}</p>
    <p><strong>Nome:</strong> {{ jogador.nome }}</p>
    <p><strong>Posição:</strong> {{ jogador.posicao }}</p>
    <p><strong>Preço:</strong> {{ jogador.preco }}</p>
    <p><strong>ID Clube:</strong> {{ jogador.id_clube }}</p>
    <p><strong>Estado:</strong> {{ jogador.id_estado }}</p>

    <br>
    <a href="/">← Voltar à lista</a>

</body>
</html>
